div{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.section-header{
    display: flex;
    padding: 10px 10px 10px 10px;
}
h2, h4{
    margin-block-start: 0;
    margin-block-end: 0;
}
h4{
    padding-top: 5px;
    font-weight: normal;
}
.caption{
    margin-top: 3px;
    border-top: 0.3px solid rgb(212, 212, 212);
    padding: 10px 10px 10px 10px;

}
.title, .section{
    width: 40%;
    margin: auto;
}
.section{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
}
.photo{
    height: 350px;
}
img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.section-title{
    width: 90%;
}
.date{
    width: 10%;
    text-align: center;
    color: gray;
}
.content{
    background-color: rgb(206, 205, 205);
}